
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
   --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
    --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

body {
    font-size: large;
    font-weight: 180;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    align-items: center;
    background-color: #0080FF;
    color: #fff;
    text-align: center;
    margin:1%;
    padding: 20px;
    position: relative;
    
}

h1 {
    font-size: 36px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    border-bottom: 2px solid #333;
}

article {
    margin: 15px 0;
}

h3 {
    font-size: 20px;
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    margin:1%;
    text-align: center;
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

.font{
    font-size: 1.5rem;
    
}